<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="DefaultConnection" xdt:Transform="Replase" connectionString="Server=ea2169bc-8b69-4c33-96cc-a7a500e9ecbd.sqlserver.sequelizer.com;Database=dbea2169bc8b694c3396cca7a500e9ecbd;User ID=igwhtehnctnlzrqy;Password=LY2wpm8QSYj6euzmgacrjy6mTA6TXYdeXZ7Y6qTipkG38vATutt5MvVm3PLWpnZ2;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AppId" value="1377429885698351" xdt:Transform="Remove" />
    <add key="AppSecret" value="fa78cf56248a3d2af25256fc65b9c6f1" xdt:Transform="Remove" />
    <add xdt:Transform="Insert" key="AppId" value="328141974287348" />
    <add xdt:Transform="Insert" key="AppSecret" value="1bea6ebd67d92c9b6c2b88376f47a380" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
